<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <!-- Use site.baseurl to correctly resolve the path -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css" />
  </head>
  <body>
    {% include header.html %}

    <main>{{ content }}</main>

    {% include footer.html %}

    <script src="{{ site.baseurl }}/js/scripts.js"></script>
  </body>
</html>
